:root {
  --primary-color: #ff8300;
  --secondary-color: #fdbb2d;
  --third-color: #ff840041;
  --bg-background: #f5f5f5;
  --text-color: #000000ac;
  --bg-gradient: linear-gradient(
    180deg,
    var(--primary-color),
    var(--secondary-color)
  );
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}
.fade-leave {
  opacity: 1;
}
.fade-leave-active {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}


html,
body {
  margin: 0 !important;
  font-family: "Alata", sans-serif;
}

@font-face {
  font-family: "Alata";
  src: url("/public/font/Alata-Regular.ttf") format("truetype");
}
