@import "global.scss";

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main .main-header {
  background: var(--bg-gradient);
  color: white;
  padding: 4px 16px 16px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: inherit;
}

.main .main-content {
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
}

.main-footer {
  text-align: center;
  color: black;
  border-top: 2px solid var(--primary-color) !important;
  padding: 24px;
}

@media (max-width: 768px) {
  .main-content {
    height: 100vh;
  }
  .main-footer {
    display: none;
  }
}
