@import "../../../styles/global.scss";

.login-form-content {
  width: 100%;
}

.login-row {
  margin-top: 8px;
}

.input-styled {
  min-height: 40px;
  padding: 10px;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}
.ant-checkbox-wrapper:hover .ant-checkbox-inner {
  border-color: var(--primary-color) !important;
}

a {
  color: var(--primary-color) !important;
}
