@import "../../../styles/global.scss";

.opshee-login-form {
  background: var(--bg-gradient);
}

.opshee-login-form-wrapper {
  min-height: 80vh;
  width: 90%;
  background-image: url("/logintext.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center left 100px;
  margin: auto;
  display: flex;
  align-items: center;
}

.login-form {
  width: 100%;
}
.login-form-content {
  width: 400px;
  padding: 24px !important;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.14);
  box-sizing: border-box;
  overflow: hidden;
}

.login-row {
  margin-bottom: 20px;
}

.button-styled {
  width: 100%;
  background: var(--primary-color);
  color: #fff;
  min-height: 40px;

  &-white {
    background-color: #fff;
    min-height: 40px;
    width: 100%;
  }

  &-white:hover {
    background: #fff !important;
    color: black !important;
  }
}
.button-styled:hover {
  background: var(--secondary-color) !important;
  color: #fff !important;
  border: none !important;
}
.input-styled {
  min-height: 40px;
  padding: 10px;
}
