.opshee-banner-wrapper {
  img {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-image {
    height: 100%;
  }

  .ant-row {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 768px) {
  .opshee-banner-wrapper {
    height: 150px;
  }

  .opshee-carousel-banner {
    div {
      height: 100% !important;
    }
  }

  .ant-row {
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
