@import "../../../styles/global.scss";

.opshee-flashsale {
  margin-top: 2rem;
}

.opshee-flashsale-title {
  margin: 0 !important;
  color: var(--primary-color) !important;
}

.ant-card-body {
  padding: 0px !important;
}
